body { background: #712728; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 41px; display: flex; }
.block-helper-0 { color: #3d4f4; font-size: 12px; margin-bottom: 5px; }
.block-order-1 { color: #37cea3; font-size: 14px; margin-bottom: 5px; }
.block-config-2 { color: #824791; font-size: 19px; margin-bottom: 5px; }
.block-shipping-3 { color: #7483b5; font-size: 19px; margin-bottom: 5px; }
.block-helper-4 { color: #98c484; font-size: 20px; margin-bottom: 5px; }
.block-config-5 { color: #37ec60; font-size: 19px; margin-bottom: 5px; }
.block-cart-6 { color: #162a1; font-size: 12px; margin-bottom: 5px; }
.block-user-7 { color: #c38686; font-size: 18px; margin-bottom: 5px; }
.block-uploader-8 { color: #240e9c; font-size: 17px; margin-bottom: 5px; }